<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- ByCategory : 없으면 board테이블 전체,있으면 해당 카테고리에 대해서만 select 실행 -->
	<entry key="listCount">
		SELECT COUNT(*) COUNT FROM BOARD
	</entry>
	<entry key="listCountByCategory">
		SELECT COUNT(*) COUNT FROM BOARD
		WHERE CATEGORY_NO=?
	</entry>
	<entry key="selectList">
		SELECT * FROM (
		SELECT ROWNUM,S.* FROM (
		SELECT BOARD_NO,CATEGORY_NAME,BOARD_TITLE,USER_ID,COUNT,RECOMMEND,UPLOAD_DATE
		FROM BOARD
		JOIN CATEGORY USING(CATEGORY_NO)
		JOIN MEMBER ON(BOARD_WRITER=USER_NO)
		ORDER BY UPLOAD_DATE DESC) S)
		WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="selectListByCategory">
		SELECT * FROM (
		SELECT ROWNUM,S.* FROM (
		SELECT BOARD_NO,CATEGORY_NAME,BOARD_TITLE,USER_ID,COUNT,RECOMMEND,UPLOAD_DATE
		FROM BOARD
		JOIN CATEGORY USING(CATEGORY_NO)
		JOIN MEMBER ON(BOARD_WRITER=USER_NO)
		WHERE CATEGORY_NO=?
		ORDER BY UPLOAD_DATE DESC) S)
		WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="selectCategory">
		SELECT * FROM CATEGORY
	</entry>
	<!-- 닉네임이 있으면 작성자에 닉네임 표기,없으면 USER_ID그대로 표기 -->
	<entry key="selectNickName">
		SELECT NICKNAME FROM MEMBER
		WHERE USER_ID=?
	</entry>
	<entry key="selectBoard">
		SELECT USER_ID,BOARD_TITLE,BOARD_CONTENT,COUNT,RECOMMEND,REVISE_DATE FROM BOARD
		JOIN MEMBER ON(BOARD_WRITER=USER_NO)
		WHERE BOARD_NO=?
	</entry>
</properties>

