<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectItemList">
	SELECT ITEM_CODE,
		   CATEGORY_NAME,
		   PRICE,
		   ITEM_NAME
	FROM ITEM I
	JOIN ITEM_CATEGORY USING (CATEGORY_NO)
	WHERE STATUS='Y'
	ORDER BY SALES_VOL DESC
		   
	</entry>
	
	<entry key="selectItem">
		SELECT ITEM_NAME,
			   CATEGORY_NAME,
			   PRICE,
			   ITEM_DETAIL,
			   ITEM_CODE
		FROM ITEM
		JOIN ITEM_CATEGORY USING (CATEGORY_NO)
		WHERE STATUS='Y'
		AND ITEM_CODE=?
	</entry>
</properties>